/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}


/* Header */
header {
    width: 100vw;
    height: 7vh;

    position: sticky;
    top: 0;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgb(3, 36, 74);
    background: linear-gradient(90deg, rgba(3, 36, 74, 1) 0%, rgba(2, 21, 42, 1) 50%, rgba(3, 36, 74, 1) 100%);

    box-shadow: 0 1px 5px white;

    #brandBtn {
        margin-left: 1.5vw;

        font-family: "DM Serif Text", serif;
        font-size: 5vh;
        color: white;
        text-decoration: none;
    }

    nav ul {
        width: 60%;

        display: flex;
        list-style: none;

        margin-right: 5vw;

        li {
            border-left: 1px solid white;
            padding: 0.4vh 1vw 0.4vh 1vw;

            &:first-child {
                border-left: none;
            }
        }
    
        a, p {
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: 0.25s;
    
            &:hover {
                text-shadow: 0 0 10px white;
            }
        }
        
        .active {
            filter: drop-shadow(0 0 5px white);
            text-shadow: 0 0 5px white;
        }
    }
}


section {
    min-height: 100vh;
    min-width: 100vw;
}


/* Landing */
#landing {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

#info {
    align-self: center;
    margin-bottom: 10vh;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #name {
        text-align: center;
        font-family: "DM Serif Text", serif;
        font-size: 10vh;
        font-weight: bold;
        color: white;
    }

    #title {
        text-align: center;
        font-family: "Radley", serif;
        font-size: 4vh;
        color: white;
    }

    #moreBtn {
        position: relative;
        margin-top: 5vh;
        align-self: center;
        min-width: 35%;

        padding: 1.25vw;

        border-radius: 0;
        border: 2px solid white;

        background-color: #ffffff00;
        color: white;

        font-size: 3vh;
        text-wrap: nowrap;
        
        cursor: pointer;

        transition: 0.2s ease;

        &::before {
            content : "";
            position: absolute;
            top: -7px;
            right: -7px;
            bottom: -7px;
            left: -7px;

            border: 1px solid white;
            opacity: 0;
            transition: opacity(0.25s);
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: black;
            border: 2px solid rgb(95, 95, 95);

            &::before {
                opacity: 1;
            }
        }

    }
}

/* Efecto Parallax */
.parallax-wrap {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100vh;

    background: rgb(1, 9, 18);
    background: radial-gradient(circle, rgba(1, 9, 18, 1) 0%, rgba(3, 36, 74, 1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden; /* para evitar que se genere un scroll lateral */

    span {
        position: absolute;
        height: 2px;
        width: 2px;
        border-radius: 100%;
        background-color: #5a98f5;
    }
}

#services {
    background-color: red;
}

#projects {
    background-color: green;
}

#contact {
    background-color: blue;
}